<nav class="navbar navbar-expand-sm mb-3 bg-info bg-gradient">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand link-dark">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link link-dark" href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li class="nav-item"><a class="nav-link link-dark" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle link-dark" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" >Save Data</a></li>
            <li><a href="#" >Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
